* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.singlerule {
  max-width: 50em;
  margin: auto;
  display: grid;
}
.field {
  margin: 1em;
  border: none;
  display: grid;
  grid-template-columns: 15em 15em;
}
.field label {
  text-align: right;
  padding-right: 1em;
}
.field fieldset {
  border: none;
  display: inline;
  margin: 0;
}
.row {
    display: grid;
    grid-template-columns:  repeat(6,8em);
    border: none;
}
.row.combo {
    grid-template-columns: 8em 8em 2em 8em 1fr;
}
.target:hover {
    cursor: pointer;
    background: lightblue;
}
.col {
    border: none;
    display: inline;
    text-align: left;
}
.flexspread input {
  margin: 0 2em;
}
.singlerule input[type="number"] {
  width: 5em;
}
.hide {
  display: none;
}
